.vs
packages
[Bb][Ii][Nn]
[Oo][Bb][Jj]
*.user
*.suo
~$*
*.DotSettings
bin/
obj/
/BTTJV9
/Connected Services
/DAL
/DBUtility
/IndustrialDisease.DataTransmission.Hubei
/Model
/Properties
/DoctorDesk.cs
/DoctorDesk.Designer.cs
/DoctorDesk.resx
/O2S.Components.PDFRender4NET.dll
/忽略列表 首次上传SVN必读.txt
/03项目引用
/05实施文档
/04参考文档
/01解决方案/HealthExaminationSystem/upList
/01解决方案/HealthExaminationSystem/WindowsFormsApp1
/01解决方案/HealthExaminationSystem/WindowsFormsApp2
/01解决方案/HealthExaminationSystem/WindowsFormsApp3
/01解决方案/HealthExaminationSystem/WJZS
/01解决方案/HealthExaminationSystem/WpfCustomerSearch
/01解决方案/HealthExaminationSystem/HealthExaminationSystem.DotNetCore.sln
/01解决方案/HealthExaminationSystem/输出-生成.txt
/01解决方案/HealthExaminationSystem/.cr
/01解决方案/HealthExaminationSystem/.vs
/01解决方案/HealthExaminationSystem/AUTOReport
/01解决方案/HealthExaminationSystem/Boso安时利ABI-system-100
/01解决方案/HealthExaminationSystem/C13工具
/01解决方案/HealthExaminationSystem/ConsoleApp1
/01解决方案/HealthExaminationSystem/deletebase
/01解决方案/HealthExaminationSystem/frmOtherCoud
/01解决方案/HealthExaminationSystem/GetPIC
/01解决方案/HealthExaminationSystem/GWTrans
/01解决方案/HealthExaminationSystem/HealthExaminationSystem.DbMigrator
/01解决方案/HealthExaminationSystem/HISInSert
/01解决方案/HealthExaminationSystem/HIsInter
/01解决方案/HealthExaminationSystem/HIsInter - 四院
/01解决方案/HealthExaminationSystem/HIsInter - 四院 - 副本
/01解决方案/HealthExaminationSystem/HisInterface
/01解决方案/HealthExaminationSystem/InterfaceService
/01解决方案/HealthExaminationSystem/packages
/01解决方案/HealthExaminationSystem/SelfSearch
/01解决方案/HealthExaminationSystem/ShortMessage
/01解决方案/HealthExaminationSystem/ShortMessageTool
/01解决方案/HealthExaminationSystem/ShortMessageToolV8
/01解决方案/HealthExaminationSystem/Text
/01解决方案/HealthExaminationSystem/TSMess
/01解决方案/HealthExaminationSystem/UpdateSumState
/02项目研发/P02体检数据双向同步WIN7优化版
/02项目研发/P02体检数据双向同步
/02项目研发/P01体检系统/05编码过程/App.config
/02项目研发/P01体检系统/05编码过程/LoginNew.cs
/02项目研发/P01体检系统/05编码过程/LoginNew.Designer.cs
/02项目研发/P01体检系统/05编码过程/LoginNew.resx
/02项目研发/P01体检系统/05编码过程/Dot Net Core
/02项目研发/P01体检系统/05编码过程/Others
/02项目研发/P01体检系统/05编码过程/Tests
/02项目研发/P01体检系统/05编码过程/05编码过程.zip
/02项目研发/P01体检系统/05编码过程/DriverRealizes
/02项目研发/P01体检系统/05编码过程/Libraries/HealthExamination.HardwareDrivers
