<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HealthExaminationSystem.Win.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HealthExaminationSystem.Win.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--LED数据库-->
    <add name="BT_SQL" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=btv9k_jl;uid=sa;pwd=123qwe;MultipleActiveResultSets=True;"/>
    <!--<add name="BT_SQL" providerName="System.Data.SqlClient" connectionString="Data Source=116.255.233.40;Initial Catalog=wuhuwuyuan;uid=sa;pwd=bingtai777.;" />-->
    <!--<add name="LED" providerName="System.Data.SqlClient" connectionString="Data Source=10.39.131.112,1433;Initial Catalog=GW_TZ;uid=gwtz;pwd=XinP@ssw0rd;MultipleActiveResultSets=True;" />-->
  </connectionStrings>
  <appSettings>
    <add key="WPSPath" value="D:\Program Files\Kingsoft\WPS Office\ksolaunch.exe"/>

    <!-- SDK APPID    请到官网https://ai.arcsoft.com.cn/index.html中申请 -->
    <add key="APP_ID" value="HHQGbmSAAT4BboQkY1jimMmy1wTNFMVxEYgdCgJRyd62"/>
    <!-- //与win64 SDK对应    请到官网https://ai.arcsoft.com.cn/index.html中申请 -->
    <add key="SDKKEY64" value="G9gJpLHi51KkM7ivm6hJrtVjmaDdwGkBR7DGZV1Lvpv5"/>
    <!-- 与win32 SDK对应    请到官网https://ai.arcsoft.com.cn/index.html中申请 -->
    <add key="SDKKEY32" value="G9gJpLHi51KkM7ivm6hJrtVjmaDdwGkBR7DGZV1Lvpv5"/>

    <!-- 摄像头索引,索引从0开始，如果仅有一个摄像头请两个参数的值都设为0 -->
    <!--RGB摄像头索引-->
    <add key="RGB_CAMERA_INDEX" value="0"/>
    <!--IR摄像头索引-->
    <add key="IR_CAMERA_INDEX" value="1"/>

	  <!--体检数据库连接-->
	  <add key="tj" value="172.29.241.42,59157; Database=GACDC-V9; User Id=sa; Password=tjzx@123;"/>
	  
    <!--体检数据库连接-->
	  <!--add key="tj" value="Server=.; Database=TJ_Zhongjianku; User Id=sa; Password=123qwe;" /-->
	  
	  
    <!--排队数据库连接-->
    <add key="pd" value="Server=.; Database=ChaoShengJH; User Id=sa; Password=123qwe;"/>
    <!--排队工号-->
    <add key="UserID" value="003"/>
    <!--排队姓名-->
    <add key="UserName" value="admin"/>
	  <!--本机开发使用 API-->
    <!--本机开发使用 API-->
    <!--<add key="apiurl" value="http://182.44.12.123:8002/api/services/app/"/>
    <add key="loginurl" value="http://182.44.12.123:8002/api/"/>
    <add key="url" value="http://182.44.12.123:8002/"/>-->    
    
    
    <!--本机开发使用 API-->
    <add key="apiurl" value="http://localhost:5335/api/services/app/"/>
    <add key="loginurl" value="http://localhost:5335/api/"/>
    <add key="url" value="http://localhost:5335/"/>
	  
	
    <!--其它未知配置-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <userSettings>
    <HealthExaminationSystem.Win.Properties.Settings>
      <setting name="SkinStyle" serializeAs="String">
        <value>Office 2016 Colorful</value>
      </setting>
      <setting name="EmSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="RememberPwd" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Key" serializeAs="String">
        <value />
      </setting>
      <setting name="DocName" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentVersion" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
    </HealthExaminationSystem.Win.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <HealthExaminationSystem.Win.Properties.Settings>
      <setting name="TenantName" serializeAs="String">
        <value>Test</value>
      </setting>
    </HealthExaminationSystem.Win.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.net>
    <defaultProxy enabled="false" useDefaultCredentials="false"></defaultProxy>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.121.1.0" newVersion="4.121.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Chart" publicKeyToken="cc4967777c49a3ff" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.3.1.0" newVersion="15.3.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.Rendering" publicKeyToken="cc4967777c49a3ff" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.3.10.0" newVersion="2.3.10.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.Drawing.Gc" publicKeyToken="cc4967777c49a3ff" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.3.10.0" newVersion="2.3.10.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.Rdl" publicKeyToken="cc4967777c49a3ff" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.3.10.0" newVersion="2.3.10.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.Documents.Imaging" publicKeyToken="d55d733d2bfd5065" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.727" newVersion="4.2.0.727"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.Documents.Common.Windows" publicKeyToken="d55d733d2bfd5065" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.727" newVersion="4.2.0.727"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.Documents.DX.Windows" publicKeyToken="d55d733d2bfd5065" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.727" newVersion="4.2.0.727"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.Document.Drawing.Gc" publicKeyToken="cc4967777c49a3ff" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.5.0" newVersion="2.1.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.Document" publicKeyToken="cc4967777c49a3ff" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.5.0" newVersion="2.1.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Document" publicKeyToken="cc4967777c49a3ff" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.3.2.0" newVersion="15.3.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports" publicKeyToken="cc4967777c49a3ff" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.3.2.0" newVersion="15.3.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.Document.Drawing.Gdi" publicKeyToken="cc4967777c49a3ff" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.5.0" newVersion="2.1.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.Documents.Common" publicKeyToken="d55d733d2bfd5065" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.727" newVersion="4.2.0.727"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.Drawing.Gdi" publicKeyToken="cc4967777c49a3ff" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.3.10.0" newVersion="2.3.10.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Win" publicKeyToken="cc4967777c49a3ff" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.3.2.0" newVersion="15.3.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.DataProviders" publicKeyToken="cc4967777c49a3ff" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.Export.Word.Page" publicKeyToken="cc4967777c49a3ff" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.3.10.0" newVersion="2.3.10.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Export.Excel" publicKeyToken="cc4967777c49a3ff" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.3.2.0" newVersion="15.3.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
