<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--下载主机地址-->
    <add key="HostUri" value="http://192.168.1.8:8004"/>
    <!--当前版本-->
    <add key="CurrVersion" value="2"/>
    <!--当前程序域-->
    <add key="VersionDemain" value="3"/>
    <!--主程序地址-->
    <add key ="MainExeStartPath" value=""/>
  </appSettings>
</configuration>